{% extends "base.html" %}

{% block title %}Posts{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
     <div class="body-container">
        <div class="post-container">

            {% for post in posts %}

            <div class="posts-section">
                <div class="posts-section_title">
                    <a href="{{ url_for('posts_app.post', id=post.id) }}">{{ post.title }}</a>
                </div> 
                <div class="posts-section_info">
                    <b>Date</b>: {{ post.created_date}} | <b>Author:</b> {{ post.user.username }}
                </div>
                <div class="posts-section_img">
                    <img src="/static/images/{{ post.img }}" alt="" >
                    
                </div>
                <div class="posts-section_text">
                    {{ post.text }}
                </div>
                <div class="posts-section_footer">
                    <div class="posts-section_footer__tags">
                    <b>Теги:</b> 
                    {% for tags in post.tags %}
                        <a href="{{ url_for('posts_app.tag', tag=tags.id) }}">{{ tags.name }} </a>
                    {% endfor %}
                    </div>
                        <a href="{{ url_for('posts_app.post', id=post.id) }}" class="posts-section_footer__button">Читать далее</a>
                </div>
            </div>

            {% endfor %}

        </div>
        <div class="tags-section">
            <div class="tags-section_wraper">
                <div class="tags-section_wraper_category">
                <b>Категории</b>
                <ul>
                    {% for tag_item in tag %}
                        <li><a href="{{ url_for('posts_app.tag', tag=tag_item.id) }}">{{ tag_item.name }} </a></li>
                    {% endfor %}
                </ul>

                </div>
                <div class="tags-section_wraper_archives">
                    <b>Архивы</b>
                    <ul>
                        <li><a href="">Январь 2020</a></li>
                        <li><a href="">Февераль 2020</a></li>
                        <li><a href="">Март 2020</a></li>
                        <li><a href="">Апрель 2020</a></li>
                        <li><a href="">Май 2020</a></li>
                        <li><a href="">Июнь 2020</a></li>
                        <li><a href="">Июль 2020</a></li>
                        <li><a href="">Август 2020</a></li>
                        <li><a href="">Сентябрь 2020</a></li>
                        <li><a href="">Октябрь 2020</a></li>
                        <li><a href="">Ноябрь 2020</a></li>
                        <li><a href="">Декабрь 2020</a></li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}